doctype html
//[if IE 9]><html lang='en' class='no-js ie ie9'><![endif]
//[if gt IE 9]><!
html(class='no-js', lang='en', ng-app='site')
  //<![endif]
  head
    meta(charset='utf-8')
    //[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]
    title VN Petitions
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='robots', content='index, follow')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/packages/bootstrap/dist/css/bootstrap.min.css')

    //- medium-editor
    //- link(rel='stylesheet', href='/packages/medium-editor/dist/css/medium-editor.css')
    //- link(rel='stylesheet', href='/packages/medium-editor/dist/css/themes/default.css')

    //- link(rel="stylesheet", href="css/style.css")
  body(ng-controller='MainCtrl')
    .container
      div.clearfix
        div.col-md-12.column
          nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            div.navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/#/', style='color:#a0f900')
                | VN Petitions

            div#bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.pull-right
                li
                  a(ng-href='#/petition/new')
                    b ĐĂNG QUAN ĐIỂM
                li
                  a(ng-if='!isAuth', ng-href='/auth/facebook', style='white-space:nowrap')
                    b ĐĂNG NHẬP
                  a(ng-if='isAuth', style='white-space:nowrap')
                    b {{userProfile.fullName}}

      div(ng-view, style='margin-top:80px')

      .row(style='margin-top:60px; margin-bottom:50px')
        .col-md-12
          label.label.label-success Youth studios


    script(src='js/modernizr.js')
    script(src='js/l10n.js')
    script(src='js/libs.js')

    script(src='/packages/medium-editor/dist/js/medium-editor.js')
    script(src='/packages/bootstrap/dist/js/bootstrap.js')
    script(src='/packages/angular-facebook/lib/angular-facebook.js')
    //- script(src='/packages/ckeditor/ckeditor.js')


    script(src='js/plugins.js')
    script(src='js/templates.js')
    script(src='js/scripts.js')

    //- Only use on development environment
    script(src='//localhost:35729/livereload.js')

    //[if lt IE 9]><p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p><![endif]
    noscript JavaScript is off. Please enable to view full site.
